body {
    background-color: antiquewhite;
}

h1 {
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
}

.done-task {
    text-decoration: line-through;
}

button:hover {
    background-color: lightblue;
}